#home
  .jumbotron:first-child
    min-height 60vh
    background rgba(#111, 0.7)
    color #eee
    
    #home-text
      text-align center
      
      h1
        font-size 4rem
  
  .container:nth-child(2)
    // 