#solution
  .jumbotron
    min-height 60vh
    background: linear-gradient(
                 rgba(#111, 0.7),
                 rgba(#111, 0.7)
               ),
               url('https://i.imgur.com/pRe1tBi.jpg');
               // stylus parse error thats why there are colons etc
               // since we remove the countdown it messes with the parallax
  
    .solution-text
      text-align center
      
      h1
        font-size 4rem
  
  .btn
    color #444
    border-color #444
  
    &:hover
      background transparent 
      color #111
      border-color #111
  
  #film
    margin-bottom 0
    color #eee