@import 'utility'
@import 'elements'

body
  display flex
  min-height 100vh
  flex-direction column
  font-family 'Open Sans'
  font-weight 300
  
header
  .navbar-inverse
    background #111
    border-bottom 1px solid #333
    
    a.navbar-brand
      font-family Aniron
      color white

main
  flex 1
  padding-top 50px // navbar height

footer
  .footer-content
    min-height 50px
    
    p
      padding 15px
      margin-bottom 0
      color #9d9d9d
      
    a
      color white