extends /_layout

block config
  - var title = 'Independent Study';

block content
  .container
    .text-center
      br
      h1 Independent Study
      br
      p.lead An independent study program fosters responsibility and autonomy and makes for more motivated students
    .row
      .col-sm-7
        h2 Why Independent Study?
        p.
          Independent learning and teaching is an educational system in which the learner
          is autonomous, and separated from his/her teacher by space and time. Because the
          learner is alone, he/she is compelled to accept a comparatively high degree of
          responsibility for the conduct of his/her learning program. Some traits of an
          autonomous learner include planning ahead, sticking to a plan, organization
          and time management, having open minds to learning new things, and enjoying
          being “on their own” in learning.
        h2 Benefits
        p Independent study programs result in:
        ul
          li Improved academic performance
          li Increased motivation and confidence
          li Greater student awareness of their limitations and their ability to manage them
          li Enabling teachers to provide differentiated tasks for students
          li Students acquire an understanding of their learning
          li Shifts students from relying on a teacher for learning to the student
      .col-sm-5
        br
        img.img-responsive.img-thumbnail(src='https://i.imgur.com/eTdXXOj.png')

  br
  br