extends /_layout

block config
  - var title = 'Open Campus';

block content
  .container
    .text-center
      br
      h1 Open Campus
      br
      p.lead An open campus in high school gives students the freedom to make choices and gives students a greater control over their environment
    .row
      .col-sm-7
        h2 Why Open Campus?
        p.
          Open campus in high schools is a very controversial topic in American education.
          Although some educational officials believe that a closed campus is superior, an
          open campus reaps many benefits. Ultimately, an open campus in high school gives
          students the freedom to make choices and gives students a greater control over
          their environment. According to one study, giving students more autonomy improves
          engagement and enthusiasm in class. One principal who has adopted the programs
          into his high school believes that most of the students “are responsible and are
          doing the right things" and that it helps “transition students into adulthood."
          Another principal said that 95 percent of students use the privilege responsibly. 
        h2 Benefits
        p Open education promotes:
        ul
          li More individualized instruction
          li Opportunities for independent study
          li Students' acceptance of responsibility for their own educational development
        p Open campus plans are also a way for high schools to:
        ul
          li Develop a workable alternative to traditional high school programs
          li Break down the artificial barriers between the school and the community.
      .col-sm-5
        br
        img.img-responsive.img-thumbnail(src='https://i.imgur.com/0PnuLua.png')
  br
  br