extends /_layout

block config
  - var title = 'The Solution';

block content
  .container
    .text-center
      br
      h1 Solution
      br
      p.lead Our solution consists of a study hall programs that gives students more autonomy. 
    .row
      .col-sm-7
        p.
          As shown in our page on independent study, there are a plethora of benefits and
          ways education can be improved with implementation in high schools. In our
          solution, students would be allowed to conduct their own independent studies with
          no restrictions from the teacher (ex. silence) during study hall class time.
          Students would be able to focus on their passions.
        p.
          The second aspect of our solution is that students would also be allowed to
          leave campus during the study hall period and go wherever they please both on
          or off campus to give them a greater control over their environment. As explained
          in our video, leaving the open campus privilege exclusive to higher achieving
          students would prevent any irresponsible students from taking advantage of a
          greater level of autonomy that others could benefit from.
      .col-sm-5
        img.img-thumbnail.img-responsive(src='https://i.imgur.com/QEMgvyG.png')