extends /_layout

block config
  - var title = 'The Solution';

block content
  .container
    br
    h1 Solution
    br
    .row
      .col-sm-7
        p.
          Our solution consists of a study hall programs that ultimately gives students more
          autonomy. Students would be allowed to conduct their own independent studies with
          no restrictions from the teacher (ex. silence) during study hall class time.
          Students would also be allowed to leave campus during the period and go wherever
          they please both on or off campus to give them a greater control over their
          environment.
      .col-sm-5
        img.img-thumbnail.img-responsive(src='https://i.imgur.com/QEMgvyG.png')